<div id="<%= dom_id track %>">
  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= track.artist %>
  </p>

  <p>
    <strong>Artwork:</strong>
    <%= track.artwork %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= track.genre %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= track.release_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= track.link %>
  </p>

</div>
